body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search__form {
  padding: 50px 30px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fef6f6;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search__label {
  width: 100%;
  margin: 5px 0;
  font-size: 18px;
  line-height: 1.5;
}

.search__input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  padding: 10px;
}

.search__select {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  padding: 10px;
}

.search__button {
  border: none;
  padding: 15px;
  margin-top: 15px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.search__button:hover {
  opacity: 0.8;
}

.pet__image {
  width: 100px;
  min-height: 100px;
}

.pet__container {
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 25px 0;
  border-bottom: #333 2px solid;
}

.pet__image-container {
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
  float: left;
  margin: 0px 20px 0px 10px;
}

.pet__info {
  float: left;
  width: 80%;
  height: 100px;
  padding-top: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.pet__name {
  white-space: nowrap;
  font-weight: normal;
  font-size: 30px;
  color: #333;
  width: 95%;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}

.pet__location {
  white-space: nowrap;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  text-overflow: ellipsis;
}

.header {
  background-color: #fef6f6;
  text-align: center;
  padding: 10px;
  margin: 0;
  width: 100%;
  display: block;
  color: gray;
  text-decoration: none;
  font-size: 40px;
}

.loading-pane {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

.loader {
  font-size: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  margin-top: 8px;
}

.carousel > img {
  max-width: 45%;
  max-height: 400px;
  border-radius: 10px;
}

.carousel-smaller {
  width: 50%;
}

.carousel-smaller > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  border: 2px solid #333;
}

.carousel-smaller > img.active {
  border-color: #333;
  opacity: 0.6;
}

.details {
  margin: 15px;
}

.details__text-container {
  margin: 15px;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

.popup__container {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  background: #faeff0;
  color: rgb(50, 49, 49);
}

.popup__button {
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  color: rgb(50, 49, 49);
}
